button {
  padding: 5px 10px;
  background-image: linear-gradient(45deg, pink, blue);
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  border: none;
}
p {
  font-size: 20px;
  color: rgb(49, 49, 49);
}
